
.wishlistItem{
    width: 780px;
    height: 149px;
}
.wishwt{
    width: 100%;
}
.removeBtn{
    background: transparent;
}
.wishend{
    align-items: flex-end;
}
.wishgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.wishCart{
    height: 40px !important;
    padding: 8px 16px !important;
}